<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/Burger/public/assets/css/burger_style.css" type="text/css" />
		<title>The burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/Burger/models/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
